.clearfix {
    &:before,
    &:after {
        display: table;
        content: '';
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }

    *zoom: 1;
}

a {
	text-decoration: none;
	color: #666;
}

li {
	list-style: none;
}

body {
	font-size: 13px;
	color: black;
}

.wrapper {
	width: 1000px;
	margin: auto;
}

header {
	width: 100%;
	border-bottom: 1px dashed #D4D4D4;
	font-size: 14px;
	height: 50px;
	padding: 10px;
}

header .logo {
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	background-color:#E82100;
	color: white;
	float:left;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

header .nav {
	float: left;
	width: 300px;
	height: 48px;
	line-height: 48px;
	_height: 50px;
	_line-height: 50px;
	padding: 0;
	margin: 0;
	border-top: solid 1px #F8F3F0;
	border-bottom: solid 1px #F8F3F0;
	border-left: solid 1px #F8F3F0;
	text-align: center;
	color: #666;
	background: #F8F3F0;
}

header .nav li {
	display: inline-block;
	width: 100px;
}

header .nav li.on a{
	color: #FF9997;
}

.main {
	width:100%;
	padding: 20px;
	overflow: hidden;
}

.main .content-list {
	width: 600px;
	float: left;
}

.main .content-list ul {
	padding: 0;
}

.main .content-list li {
	list-style: none;
	border-bottom: 1px solid #E2E2E2;
	padding: 10px 0;
}

.main .content-list span, .main .sidebar .title {
	border-bottom: 3px #FF9997 solid;
	display: block;
	width: 55px;
	text-align: center;
	height: 20px;
}

.main .content-list .title {
	height: 30px;
	line-height: 20px;
	font-size: 15px;
}

.main .content-list .time {
	color: #FF9997;
	font-size: 12px;
}

.main .content-detail {
	width: 100%;
}

.main .sidebar {
	width: 290px;
	float: right;
}

.main .sidebar .title {
}

.main .sidebar .li a{
	color: #3596AA;
}

.page-nav {
	width: 100%;
	padding: 20px;
}

footer {
	width: 100%;
	padding: 20px;
	border-bottom: 1px dashed #D4D4D4;
	border-top: 1px dashed #D4D4D4;
	color: #ABABAB;
}

