<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="木兰、前端工程师、代码、设计、文字、摄影、一切美好的东西、远离尘世的小木屋" name="description">
		<title>兰木屋 | by 木兰</title>
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/main.css">
	</head>
	<body>
		<div class="wrapper">
			{% include header.html %}

			<div class="main">
				<div class="title">
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
				</div>
				<div class="time">
					木兰 发布于{{ post.date | date:"%Y年%m月%d日" }}
					<a href="/categories/#{{ post.categories }}">{{ post.categories }}</a>
				</div>

				<div class="content">
					{{ content }}
				</div>

				<div class="content-tag">
					{% for tag in post.tags %}
						<a href="/tags/#{{ tag }}">#{{ tag }}</a>
					{% endfor %}
				</div>


			</div>

			{% include page-nav.html %}

			{% include footer.html %}
		</div>
	<script type="text/javascript" src=""></script>
	</body>
</html>
